<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))
integer

#### x = "Hello World"
#### print(type(x))
string

#### x = 20.5
#### print(type(x))
float

#### x = ["apple", "banana", "cherry"]
#### print(type(x))
list

#### x = ("apple", "banana", "cherry")
#### print(type(x))
tuple

#### x = {"name" : "John", "age" : 36}
#### print(type(x))    
dictionary

#### x = True
#### print(type(x))
boolean

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [2]:
x = 5.2
x =(x)
print(type(x))

<class 'float'>

### Insert the correct syntax to convert x into a integer.

In [4]:
 x = 5
 x =(x)
 print(type(x))

<class 'int'>

## Exercise on string

### Use the `len()` function to print the length of the string.

In [10]:
x = "Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [13]:
txt = "Hello World"
x = txt[0]
print(x)

H

### Get the characters from index 2 to index 4 (llo).

In [24]:
txt ="Hello World"
x = txt[2:5]
print(x)

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [25]:
# txt = " Hello World "
# x =..................
txt.strip()

'Hello World'

### Convert the value of `txt` to upper case.

In [26]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

### Convert the value of `txt` to lower case.

In [27]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

#### Replace the character` H` with a `J`

In [31]:
txt = "Hello World"
txt = txt.replace('H','a' )
print(txt)

aello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [33]:
age = 36
txt= f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [37]:
print(10 > 9)
True

NameError: name 'true' is not defined

The statement below would print a Boolean value, which one?

In [ ]:
print(10 == 9)
False

The statement below would print a Boolean value, which one?

In [ ]:
print(10 < 9)
False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [62]:
xceed ="Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star How I wonder what you are!"
xceed =xceed.replace("star","amer")
xcced =' '.join(xceed)
print(xceed)
print(xceed.upper())
print(xceed.lower())
print(xceed.swapcase())
print(xceed.capitalize())
print(xceed.title())
xceed=xceed.split()
print(xceed)
xceed =' '.join(xceed)
print(xceed)
print(xceed.count('a'))

Twinkle, twinkle, little amer, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little amer How I wonder what you are!
TWINKLE, TWINKLE, LITTLE AMER, HOW I WONDER WHAT YOU ARE! UP ABOVE THE WORLD SO HIGH, LIKE A DIAMOND IN THE SKY. TWINKLE, TWINKLE, LITTLE AMER HOW I WONDER WHAT YOU ARE!
twinkle, twinkle, little amer, how i wonder what you are! up above the world so high, like a diamond in the sky. twinkle, twinkle, little amer how i wonder what you are!
tWINKLE, TWINKLE, LITTLE AMER, hOW i WONDER WHAT YOU ARE! uP ABOVE THE WORLD SO HIGH, lIKE A DIAMOND IN THE SKY. tWINKLE, TWINKLE, LITTLE AMER hOW i WONDER WHAT YOU ARE!
Twinkle, twinkle, little amer, how i wonder what you are! up above the world so high, like a diamond in the sky. twinkle, twinkle, little amer how i wonder what you are!
Twinkle, Twinkle, Little Amer, How I Wonder What You Are! Up Above The World So High, Like A Diamond In The Sky. Twinkle, Twinkle, Little Amer How I Wonder What You Are!
['Twinkle,', 'twinkle,', 'little', 'amer,', 'How', 'I', 'wonder', 'what', 'you', 'are!', 'Up', 'above', 'the', 'world', 'so', 'high,', 'Like', 'a', 'diamond', 'in', 'the', 'sky.', 'Twinkle,', 'twinkle,', 'little', 'amer', 'How', 'I', 'wonder', 'what', 'you', 'are!']
Twinkle, twinkle, little amer, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little amer How I wonder what you are!
9

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [75]:
Fname=input("enter your first name")
Lname=input("enter your last name")
print(Lname + " " +Fname)

enter your first name amer
enter your last name sayed

sayed amer

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [126]:
radius= 1.1
area= 3.14 * radius **2
print("area is" +area)

TypeError: can only concatenate str (not "float") to str

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [93]:
file = "dd.xlsx"
andy =file.split('.')
print("extension of this file: " + andy[-1])

extension of this file: xlsx

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

In [97]:
value = "Amit"
a = tuple(value)
a_1= list(value)
print(a,a_1)

('A', 'm', 'i', 't') ['A', 'm', 'i', 't']

 ## After that

### Relace the index 3 in the list

In [104]:
a_1[3]='d'
print(a_1)

['A', 'm', 'i', 'd']

 ### Convert the list to string and print the list

In [109]:
sd =' '.join(a_1)
print(sd)

A m i d

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [110]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[3])

Red Black

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [114]:
print("""Sample Output: a string that you "don't" have to escape This is a  ....... multi-line heredoc string --------> example""")

Sample Output: a string that you "don't" have to escape This is a  ....... multi-line heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [125]:
xc="https://www.google.com/ "
print(xc.startswith("https"))
we="aimt4536@gmail.com"
print(we.endswith(".com"))

True
True

# Thanks ‚ù§

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">